.business {
  position: relative;
  aspect-ratio: 16 / 7;
  background: url('../../img/business-bg.jpg') center/cover no-repeat;
}

.business__inner {
  position: absolute;
  left: 0;
  bottom: 9rem;
  max-width: 600px;
}

.business__title {
  font-family: var(--font-accent);
  font-weight: 700;
  font-size: 7.8rem;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--color-bg-white);
  margin-bottom: 3rem;
}

.business__text {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 160%;
  color: var(--color-bg-white);
  margin-bottom: 4rem;
  max-width: 60rem;
}

.business__btn {
  display: inline-flex;
  align-items: center;
  gap: 1.2rem;
  padding: 2rem 3rem;
  background: var(--color-bg-white);
  border: 1px solid var(--color-bg-white);
  border-radius: var(--radius-sm);
  font-family: var(--font-accent);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 100%;
  text-transform: uppercase;
  var(--color-primary);
  cursor: pointer;
  transition: all var(--transition-fast);
}

.business__btn:hover {
  background: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-bg-white);
}

.business__btn .icon {
  width: 1.6rem;
  height: 1.6rem;
}
